@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family:
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;

    @apply bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 w-full scroll-smooth break-keep break-words leading-relaxed;
  }

  p {
    @apply leading-loose tracking-normal;
  }

  .markdown {
    h2 {
      @apply text-4xl font-bold [&>a]:hover:opacity-100 mt-5 mb-5;

      a {
        @apply opacity-0 text-4xl font-bold text-zinc-500;
      }
    }

    h3 {
      @apply text-2xl font-bold [&>a]:hover:opacity-100 mt-5 mb-5;

      a {
        @apply opacity-0 text-2xl font-bold text-zinc-500;
      }
    }

    blockquote {
      @apply text-zinc-500 border-l-4 border-zinc-500 px-4 py-2 my-4;
    }


    :not(pre) > code {
      @apply px-2 py-1 h-fit font-mono font-normal inline-block whitespace-nowrap bg-default/40 text-default-foreground text-small rounded-small
    }
  }

  pre[class*='language-'] {
    @apply bg-zinc-700 dark:bg-zinc-800;
  }

  :not(pre) > code[class*='language-'] {
    @apply bg-zinc-700 dark:bg-zinc-800;
  }
}

.medium-zoom-overlay {
  backdrop-filter: blur(4px) saturate(180%);
  z-index: 50;
}

.medium-zoom-image--opened {
  z-index: 50;
}
