@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    font-family:
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;

    @apply w-full scroll-smooth break-words break-keep bg-zinc-100 leading-relaxed text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
  }

  p {
    @apply leading-loose tracking-normal;
  }

  .markdown {
    h2 {
      @apply mb-5 mt-5 text-4xl font-bold [&>a]:hover:opacity-100;

      a {
        @apply text-4xl font-bold text-zinc-500 opacity-0;
      }
    }

    h3 {
      @apply mb-5 mt-5 text-2xl font-bold [&>a]:hover:opacity-100;

      a {
        @apply text-2xl font-bold text-zinc-500 opacity-0;
      }
    }

    blockquote {
      @apply my-4 border-l-4 border-zinc-500 px-4 py-2 text-zinc-500;
    }

    :not(pre) > code {
      @apply inline-block h-fit whitespace-nowrap rounded-small bg-default/40 px-2 py-1 font-mono text-small font-normal text-default-foreground;
    }
  }

  pre[class*='language-'] {
    @apply bg-zinc-700 dark:bg-zinc-800;
  }

  :not(pre) > code[class*='language-'] {
    @apply bg-zinc-700 dark:bg-zinc-800;
  }
}

.medium-zoom-overlay {
  backdrop-filter: blur(4px) saturate(180%);
  z-index: 50;
}

.medium-zoom-image--opened {
  z-index: 50;
}
