@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body,
html {
  background-color: var(--nextui-colors-gray50);
  color: var(--nextui-colors-gray900);
  word-wrap: break-word;
  word-break: keep-all;
  width: 100%;
  scroll-behavior: smooth;
}

p {
  letter-spacing: var(--nextui-letterSpacings-normal);
  line-height: var(--nextui-lineHeights-2xl);
}

.medium-zoom-overlay {
  backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur));
  z-index: var(--nextui-zIndices-3);
}

.medium-zoom-image--opened {
  z-index: var(--nextui-zIndices-3);
}

html.light-theme:root {
  /* 라이트 모드에 적용할 스타일 정의 */
  --navbar-background: rgba(241, 243, 245, 0.6);
}
html.dark-theme:root {
  /* 다크 모드에 적용할 스타일 정의 */
  --navbar-background: rgba(22, 24, 26, 0.6);
}
