@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css');

body,
html {
  background-color: var(--nextui-colors-gray50);
  color: var(--nextui-colors-gray900);
  word-wrap: break-word;
  word-break: keep-all;
  width: 100%;
}

p {
  letter-spacing: var(--nextui-letterSpacings-normal);
  line-height: var(--nextui-lineHeights-2xl);
}

.medium-zoom-overlay {
  backdrop-filter: saturate(180%) blur(var(--nextui--navbarBlur));
  z-index: var(--nextui-zIndices-3);
}

.medium-zoom-image--opened {
  z-index: var(--nextui-zIndices-3);
}
