@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@layer base {
  body,
  html {
    font-family:
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;

    @apply bg-zinc-100 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100 w-full scroll-smooth break-keep break-words leading-relaxed;
  }

  p {
    @apply leading-loose tracking-normal;
  }

  .medium-zoom-overlay {
    backdrop-filter: saturate(180%) blur(16px);
    @apply z-30;
  }

  .medium-zoom-image--opened {
    @apply z-30;
  }
}

.dark-theme:root {
  --code-background: #1e1e1e;
}

.light-theme:root {
  --code-background: white;
}
